{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the start page</h1>
    <p>This is the start page of the website.</p>
    <p>This site is a project build fron the django course at Lexicon</p>

    <h2>Labs</h2>
    <ul>
        <li>Forms</li>
        <li>Templates</li>
        <li>Static files</li>
        <li>Media files</li>
        <li>URLs</li>
        <li>Views</li>
        <li>Models</li>
        <li>Admin</li>
        <li>Blogs</li>
        <li>Users</li>
        <li>Login</li>
        <li>Logout</li>
        <li>Register</li>
    </ul>
{% endblock %}